<form class="form" id="advancedmsform">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Pseudonyme</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Optionnel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Type de joueurs</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Jeux préférés</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Région</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="searchButtons">
                <button type="submit" class="btn btn-primary my-1">Valider la recherche</button>
            </div>
        </div>
    </div>

</form>