@import "src/sass/_variables.scss";

.gamecard {
    background-color: $blank;
    width: 325px;
    height: 180px;
    margin-top: 10px;
}

.card-body {
    text-align: left;
}

.card-img {
    margin-top: 14px;
    height: 150px;
    width: 150px;
}