<div class="card mb-3 gamecard">
        <div class="row no-gutters">
            <div class="col-md-auto">
                <img src="/assets/img/cardimg.png" class="card-img" alt="card-img">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Joueur</h5>
                    <p class="card-text">sur "Nom du jeu"</p>
                    <p class="card-text"><small class="text-muted">Yesterday</small></p>
                    <app-gameinvitebtn></app-gameinvitebtn>
                </div>
            </div>
        </div>
    </div>