<nav class="navbar navbar-custom">
    <span [routerLink]="['/home']" class="navbar-brand mb-0 h1"><img src="../../../../assets/img/logo0.5x.png" alt="logo" class="logo"></span>
    <form class="form-inline">
      <button [routerLink]="['/signin']" class="btn btn-outline-light firstbtn navbtn" type="button">S'identifier</button>
      <button [routerLink]="['/signup']" class="btn btn-outline-light navbtn" type="button">S'enregistrer</button>
    </form>
  </nav>