<nav class="navbar navbar-custom">
  <span [routerLink]="['/homeuser']" class="navbar-brand mb-0 h1"><img src="../../../../assets/img/logo0.5x.png" alt="logo" class="logo"></span>
  <form class="form-inline">

    <button [routerLink]="['/searchmate']" class="btn btn-outline-light firstbtn navbtn" type="button">Trouver un joueur</button>
    <button [routerLink]="['/searchgame']" class="btn btn-outline-light navbtn" type="button">Trouver un jeu</button>
  </form>

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-light navbtn" id="dropdownBasic1" ngbDropdownToggle>Pseudal</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button [routerLink]="['/profile']" ngbDropdownItem>Mon profil</button>
      <button [routerLink]="['/home']" ngbDropdownItem>Se déconnecter</button>
    </div>
  </div>
</nav>