@import "src/sass/_variables.scss";

#gcardzone {
    background-color: $purple;
    margin-top: 10px;
    padding: auto;
}

#matesearchform {
    background-color: $green;
    padding: 15px;
    margin-top: 10px;
}

#gamesearchform {
    background-color: $orange;
    padding: 15px;
    margin-top: 10px;
}