<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-usermenu></app-usermenu>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="commonbanner">
                <p>Bienvenue Pseudal ! <br>Que veux-tu faire ?</p>                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="gcardzone">
                <p class="bigblank">Vos dernières sessions de jeu</p>
                <div class="d-flex justify-content-around">
                    <app-gamecard></app-gamecard>
                    <app-gamecard></app-gamecard>
                    <app-gamecard></app-gamecard>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="matesearchform">
                <p class="bigblank">Chercher un coéquipier</p>
                <app-matesearchform></app-matesearchform>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="gamesearchform">
                <p class="bigblank">Chercher un jeu</p>
                <app-gamesearchform></app-gamesearchform>
            </div>
        </div>
    </div>

</div>