<div class="container">

    <div class="row">
        <div class="col-md-12">
            <app-guestmenu></app-guestmenu>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="homepagebanner" class="d-flex align-items-center">
                <div class="homepagebannertext">
                    <p class="h3" id="bigpurple">Votre futur compagnon de jeu se trouve ici</p>
                    <p class="h5">Cherchez, trouvez, Letsplay !</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="homepageParaph">
            <div class="row justify-content-md-center d-flex align-items-center">
                <div class="col-md-auto">
                    <img src="./../../../../assets/img/homepage/logoLunettes2x.png" alt="">
                </div>
                <div class="col">
                    <p class="h4">Cherchez un coéquipier</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eaque expedita laborum,
                        cum, recusandae accusantium dolores quos odit libero nisi adipisci odio. Repellendus fugiat modi
                        dolore
                        numquam nemo excepturi deleniti?</p>
                </div>
            </div>
        </div>

        <div class="homepageParaph">
            <div class="row justify-content-md-center d-flex align-items-center">
                <div class="col-md-auto">
                    <img src="./../../../../assets/img/homepage/logoChat2x.png" alt="">
                </div>
                <div class="col">
                    <p class="h4">Discutez et devenez de nouveaux amis</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eaque expedita laborum,
                        cum, recusandae accusantium dolores quos odit libero nisi adipisci odio. Repellendus fugiat modi
                        dolore
                        numquam nemo excepturi deleniti?</p>
                </div>
            </div>
        </div>

        <div class="homepageParaph">
            <div class="row justify-content-md-center d-flex align-items-center">
                <div class="col-md-auto">
                    <img src="./../../../../assets/img/homepage/logoManette2x.png" alt="">
                </div>
                <div class="col">
                    <p class="h4">Jouez ensemble !</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eaque expedita laborum,
                        cum, recusandae accusantium dolores quos odit libero nisi adipisci odio. Repellendus fugiat modi
                        dolore
                        numquam nemo excepturi deleniti?</p>
                </div>
            </div>
        </div>
    </div>

</div>