@import "src/sass/_variables.scss";

#homepagebanner {
    background-image: url("../../../../assets/img/banner-hp.jpg");
    margin-top: 20px;
    height: 300px;
    font-size: 22px;
    font-weight: bold;
    width:100%;
    text-shadow:0px 3px 4px black;
    font-family: 'Bebas Neue W01 Regular';
    margin-bottom:15px;
}

#homepagebody {
    background-color: $grey;
    margin:0px;
}

.homepagebannertext {
    background-color: rgba(0, 0, 0, 0.5);
    padding:15px;
    width:100%;
}

#homepagebanner h3 {
    font-size: 2em;
    color: $blank;
    text-align: center;
}

#homepagebanner p {
    font-size: 2em;
    color: $blank;
    text-align: center;    
}

.homepageParaph {
    margin-bottom:15px;
    background-color: $grey;
    padding:15px;
}