<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-usermenu></app-usermenu>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="commonbanner">
                <p>Chercher un jeu</p>
            </div>
        </div>
    </div>
    <a [routerLink]="['/homeuser']">Retour</a>

    <app-advanced-game-search-form></app-advanced-game-search-form>

</div>