<form class="form" id="advancedgsform">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Nom du jeu</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Optionnel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Style de jeu</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Type de jeu</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Select 4</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Select 5</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Select 6</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formGroupExampleInput">Select 7</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option>Choose..</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="searchButtons">
                <button type="submit" class="btn btn-primary my-1">Valider la recherche</button>
            </div>
        </div>
    </div>

</form>