@import "src/sass/_variables.scss";

// @font-face{
//     font-family:"Bebas Neue W01 Regular";
//     src:url("Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
//     src:url("Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("Fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("Fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("Fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
// }

@font-face{
    font-family:"Bebas Neue W01 Regular";
    src:url("./assets/fonts/bebas/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
    src:url("./assets/fonts/bebas/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("./assets/fonts/bebas/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("./assets/fonts/bebas/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("./assets/fonts/bebas/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
}

.navbar-custom {
    background-color: $lightpurple;
}

.navbar-brand {
    color: $blank;
    cursor: pointer;
}

.navbtn {
    background-color:$purple;
    border: 0 none;
}

.firstbtn {
    margin-right: 15px;
}

#dropdownMenuButton {
    background-color: $purple;
}

.bigblank {
    font-weight: bold;
    font-size: 20px;
    color: $blank;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

.randomSearch {
    margin-left: 30px;
}

.searchButtons {
    text-align: center;
}

.advancedSearch {
    text-align: right;
    color: $blank;
}

.commonbanner {
    background-color: rgba(black, 0.5);
    background-image: url("assets/img/commonBannerImg/commonBannerSW.jpg"); 
    margin-top:10px;
    background-repeat: no-repeat;
    height:100px;
}

.commonbanner p {
    padding-top:3px;
    font-weight: bold;
    font-size: 2em;
    color: $blank;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: 'Bebas Neue W01 Regular';
}

.logo {
    filter: drop-shadow(0px 3px 5px black);
}