@import "src/sass/_variables.scss";

.modifyprofileform {
    padding: 20px;
    margin: 0px;
    margin-top:15px;
    padding-bottom:15px;
    background-color: $grey;
    text-align: center;
}

#steam {
    border-color: $black;
    background-color: $black;
    margin-right: 30px;
}

#uplay {
    border-color: $darkgreen;
    background-color: $darkgreen;
    margin-left: 30px;
}